# Analysis of the Airlines Arrival Delay Causes

## 1)Background of the data


* The dataset is published on the open data souce Kaggle.
* It is collected by the U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics (BTS). They track the on-time performance of domestic flights operated by large air carriers.
* This dataset is only for year 2008.
* Summary information on the number of on-time, delayed, canceled and diverted flights appears in DOT's monthly air Traval Consumer Report, published about 30 days after the month's end, as well as in summary tables posted on this website.
* BTS began collecting details on the causes of flight delays in June 2003. Summary statistics and raw data are made avaiable to the public at the time the Air Travle Consumer Report is released. 
* *The above information is from Kaggle. https://www.kaggle.com/giovamata/airlinedelaycauses*

## 2) Links to the Airlines Arrival Delay Dataset
* Data Introduction: https://www.kaggle.com/giovamata/airlinedelaycauses
* Data Download: https://www.kaggle.com/giovamata/airlinedelaycauses/download

In [1]:
#The direct downloadlink to the Kaggle data set
data_url='https://www.kaggle.com/giovamata/airlinedelaycauses/download'

## 3) Import the eccential modules

#### Currently, I only need the _pandas_, _numpy_, _matplotlib_ ,and _seaborn_ .
#### The _scikitlearn_ et.al. will be imported later

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
%matplotlib inline

## 4) Import the local dataset
* I've downloaded the dataset in advance to save time;
* The name of the dataset is DelayedFlights.csv

In [3]:
data_airline=pd.read_csv('DelayedFlights.csv')

## 4) Desplay the basic information of the dataset.
* The dataset contains 1936758 rows and 30 columns
* The column names are as listed.
* The meaning of each column can be found on the website http://stat-computing.org/dataexpo/2009/the-data.html
* Here are some need-to-note details of them:
<br>
  DayOfWeek: 1 (Monday) - 7 (Sunday)
<br>
  DepTime:  actual departure time (local, hhmm)
<br>
  CRSDepTime: scheduled departure time (local, hhmm)
<br>
  ArrTime: actual arrival time (local, hhmm)
<br> 
  CRSArrTime: scheduled arrival time (local, hhmm)
<br>  
  ActualElapsedTime: in minutes
<br>  
  CRSElapsedTime: in minutes
<br>  
  AirTime: in minutes
<br>  
  ArrDelay: arrival delay, in minutes
<br>    
  DepDelay: departure delay, in minutes
<br> 
  Distance: in miles
<br> 
  TaxiIn: taxi in time, in minutes
<br> 
  TaxiOut: taxi out time in minutes
<br>
  Cancelled: was the flight cancelled?
<br>
  CancellationCode: reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
<br>
  Diverted: 1 = yes, 0 = no
<br>
  CarrierDelay: in minutes
<br>
  WeatherDelay: in minutes
<br>
  NASDelay: in minutes
<br>  
  SecurityDelay: in minutes
<br>
  LateAircraftDelay: in minutes

In [28]:
row_num,col_num=data_airline.shape
print('There are ',row_num,' rows','and ',col_num,'columns.')
list(data_airline.columns)

There are  215130  rows and  30 columns.

['Unnamed: 0',
 'Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']

### 4.1) Examples of the dataset.
* Below are **first five rows** of the data,

In [5]:
data_airline.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0.0,N,0.0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN

### 4.2) Data type information for each columns.
* Below are the **information summary** about the data type

In [6]:
data_airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215131 entries, 0 to 215130
Data columns (total 30 columns):
Unnamed: 0           215131 non-null int64
Year                 215131 non-null int64
Month                215131 non-null int64
DayofMonth           215131 non-null int64
DayOfWeek            215131 non-null int64
DepTime              215131 non-null float64
CRSDepTime           215131 non-null int64
ArrTime              214269 non-null float64
CRSArrTime           215131 non-null int64
UniqueCarrier        215131 non-null object
FlightNum            215131 non-null int64
TailNum              215131 non-null object
ActualElapsedTime    214268 non-null float64
CRSElapsedTime       215095 non-null float64
AirTime              214268 non-null float64
ArrDelay             214268 non-null float64
DepDelay             215130 non-null float64
Origin               215130 non-null object
Dest                 215130 non-null object
Distance             215130 non-null float64
TaxiIn               214268 non-null float64
TaxiOut              215130 non-null float64
Cancelled            215130 non-null float64
CancellationCode     215130 non-null object
Diverted             215130 non-null float64
CarrierDelay         139706 non-null float64
WeatherDelay         139706 non-null float64
NASDelay             139706 non-null float64
SecurityDelay        139706 non-null float64
LateAircraftDelay    139706 non-null float64
dtypes: float64(17), int64(8), object(5)
memory usage: 49.2+ MB

### 4.3) Basic statistical summary for each columns.
* The below form is made from the _describe_ method of the dataframe _data_airline_ 
* It tells us that the dataset only contains the flight information of **year 2008**.

In [11]:
data_airline.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,215131.000000,215131.0,215131.000000,215131.000000,215131.000000,215131.000000,215131.000000,214269.000000,215131.000000,215131.000000,...,215130.000000,214268.000000,215130.000000,215130.0,215130.000000,139706.000000,139706.000000,139706.000000,139706.000000,139706.000000
mean,347709.360236,2008.0,1.146906,14.987422,3.891127,1517.430858,1463.930740,1613.806757,1627.750654,2196.514087,...,733.861688,6.530037,17.199475,0.0,0.004007,18.119909,3.478068,13.423776,0.110711,27.264627
std,202763.588752,0.0,0.354013,9.207369,1.926992,446.676384,423.806511,537.788514,462.582774,1902.456006,...,551.186043,5.101141,12.829262,0.0,0.063173,40.536308,21.394204,32.403320,1.854738,42.468168
min,0.000000,2008.0,1.000000,1.000000,1.000000,1.000000,15.000000,1.000000,1.000000,1.000000,...,24.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,176289.500000,2008.0,1.000000,6.000000,2.000000,1201.000000,1130.000000,1319.000000,1320.000000,644.000000,...,334.000000,4.000000,10.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,344176.000000,2008.0,1.000000,15.000000,4.000000,1543.000000,1505.000000,1712.000000,1659.000000,1555.000000,...,588.000000,5.000000,14.000000,0.0,0.000000,2.000000,0.000000,0.000000,0.000000,12.000000
75%,522787.500000,2008.0,1.000000,23.000000,5.000000,1900.000000,1815.000000,2029.000000,2010.000000,3490.500000,...,967.000000,8.000000,20.000000,0.0,0.000000,20.000000,0.000000,12.000000,0.000000,36.000000
max,681918.000000,2008.0,2.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,9002.000000,...,4962.000000,189.000000,383.000000,0.0,1.000000,1158.000000,1049.000000,1357.000000,136.000000,897.000000

## 5) Handle the missing observations for each column of the dataset
* First, check the proportion of the missing values for each column. The column names are listed by descending order of the proportion of the missing obeservations.

In [15]:
#Create a dataframe indicating the proportion of missing values for each column
PropOfMissingValue=pd.DataFrame(np.sum(pd.isnull(data_airline))/row_num,columns=['Proportion of missing value'])
# Display the columns according to descending missing value proportion order
PropOfMissingValue.sort_values(by=['Proportion of missing value'],ascending=False)

                   Proportion of missing value
LateAircraftDelay                     0.350600
SecurityDelay                         0.350600
NASDelay                              0.350600
WeatherDelay                          0.350600
CarrierDelay                          0.350600
ActualElapsedTime                     0.004012
TaxiIn                                0.004012
AirTime                               0.004012
ArrDelay                              0.004012
ArrTime                               0.004007
CRSElapsedTime                        0.000167
Distance                              0.000005
CancellationCode                      0.000005
DepDelay                              0.000005
Origin                                0.000005
Dest                                  0.000005
Diverted                              0.000005
TaxiOut                               0.000005
Cancelled                             0.000005
Month                                 0.000000
DayofMonth                            0.000000
DayOfWeek                             0.000000
DepTime                               0.000000
UniqueCarrier                         0.000000
CRSDepTime                            0.000000
FlightNum                             0.000000
Year                                  0.000000
CRSArrTime                            0.000000
TailNum                               0.000000
Unnamed: 0                            0.000000

* The parameters named _LateAircraftDelay_ , _SecurityDelay_, _NASDelay_, _WeatherDelay_, _CarrierDelay_ contains the largest proprotion of missing values. But this is acceptable,because only the flights which were delayed or canceled contains these five parameters.
* Some values in _ArrTime_, _DepTime_, et.al are also missing, but this may be due to the cancellation of the flights. Thus this is also acceptable. 
* But whether the flight was canceled or diverted or not is critical for the analysis, thus the rows whose _Cancelled_ or _Diverted_ contains missing values will be removed.
* The following is to remove the rows containing missing values in specific columns.

In [23]:
InTorlerantColumn=['Cancelled' ,'Diverted']
#Delete rows whose columns in InTorlerantColumn contain missing values
data_airline = data_airline.dropna(axis=0, subset=InTorlerantColumn)

* Next step: Remeasure the dataset size and the proporiton of the missing value to ensure that all the unrequried datasets are successfully removed.

In [24]:
row_new,col_new= data_airline.shape
print('The row number changes into ',row_new, 'from ',row_num,' after removing nulls')
#Remeasure the proportion of missing values for each column
PropOfMissingValue=pd.DataFrame(np.sum(pd.isnull(data_airline))/row_num,columns=['Proportion of missing value'])
# ReDisplay the columns according to descending missing value proportion order
PropOfMissingValue.sort_values(by=['Proportion of missing value'],ascending=False)

The row number changes into  215130 from  215131  after removing nulls

                   Proportion of missing value
LateAircraftDelay                     0.350596
SecurityDelay                         0.350596
NASDelay                              0.350596
WeatherDelay                          0.350596
CarrierDelay                          0.350596
ActualElapsedTime                     0.004007
TaxiIn                                0.004007
AirTime                               0.004007
ArrDelay                              0.004007
ArrTime                               0.004007
CRSElapsedTime                        0.000163
UniqueCarrier                         0.000000
TaxiOut                               0.000000
Month                                 0.000000
DayofMonth                            0.000000
DayOfWeek                             0.000000
DepTime                               0.000000
Diverted                              0.000000
CancellationCode                      0.000000
Cancelled                             0.000000
Distance                              0.000000
CRSDepTime                            0.000000
FlightNum                             0.000000
Dest                                  0.000000
Origin                                0.000000
DepDelay                              0.000000
Year                                  0.000000
CRSArrTime                            0.000000
TailNum                               0.000000
Unnamed: 0                            0.000000

## 6) Goal: Build a model to predict the flight state(On-Time/Delayed/Cancelled)
Try to use a supervised methods to predict whether the flight has a high probability of delayed or cancelled in advance.

## 7) Exploration of the flight datasets
### 7.1) The delayed or cancelled rate in each day of the year 2008

## 8) What is your _y_-variable?
For final project, you will need to perform a statistical model. This means you will have to accurately predict some y-variable for some combination of x-variables. From your problem statement in part 7, what is that y-variable?